@import "tailwindcss";

@theme {
  --color-sl-blue: #1f3c88;
  --color-sl-red: #d93a3a;
  --color-sl-black: #111111;
  --color-sl-white: #ffffff;
  --color-sl-gray-light: #d1d5db;
  --color-sl-gray-dark: #4b5563;
}

.text-\[64px\] {
  font-size: 64px;
}
